@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.main {
    cursor: url('https://api.iconify.design/tabler:circle.svg?color=%23f0f0f0'), auto;
}

.main-box {
    height: 100vh;
    width: 100vw;
    background-color: #010323;
}

.main-logo {
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 2;
    height: 32px;
    width: 124.6px;
}

.main-add-button {
    border-radius: 16px;
    border-color: #F0F0F0;
    border-width: 2px;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    top: 32px;
    display: flex;
    align-items: center;
}

.main-add-button:hover {
    cursor: url('https://api.iconify.design/tabler:circle-filled.svg?color=%23f0f0f0'), auto;
}

.main-add-icon {
    color: #F0F0F0;
    padding-left: 24px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-add-text {
    color: #F0F0F0;
    font-family: Inter;
    font-size: 16px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#add-friend-button {
    right: 214px;
}

#add-echo-button {
    right: 32px;
}

.main-modal-header {
    font-family: Syne;
    font-weight: bold;
    font-size: 32px !important;
}

.main-modal-button {
    background-color: #FFA41B !important;
    color: #010323 !important;
    font-family: Inter !important;
    font-weight: normal !important;
}
